# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Ansible
*.retry

# Kubernetes
*.kubeconfig

# OS
.DS_Store
*.swp
*.swo

# Logs
*.log

# Docker
*.env
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
